<div class="footer">
	
	<div class="company">
		{{widget('logo', 'w_logo', {"defaultlogo": asset('images/logo.png')})|raw}}
		{{widget('companyname', 'w_companyname', {"business": "profile", "align":"center"})|raw}}
	</div>

	<div class="profile_widgets">
		<div class="col">
			{{widget('profile', 'wf_profile_1', { 'profileType':'phone' })|raw}}
			{{widget('profile', 'wf_profile_2', { 'profileType':'email' })|raw}}
		</div>
		<div class="col">
			{{widget('profile', 'wf_profile_3', { 'profileType':'phone' })|raw}}
			{{widget('profile', 'wf_profile_4', { 'profileType':'email' })|raw}}
		</div>
	</div>


</div>
