<div class="footer">
	
	<div class="company">
		{{widget('image', 'footer-logo', {
	  		'src': asset("/images/logo.png")
		})|raw}}
		{{widget('companyname', 'wf_companyname', {"business": "profile", "align":"center"})|raw}}
	</div>
	
	<div class="profile_widgets">
		<div class="content_wrapper">
			<div class="col">
				{{widget('profile', 'wf_profile_1', { 'profileType':'phone' })|raw}}
				{{widget('profile', 'wf_profile_2', { 'profileType':'email' })|raw}}
			</div>
			<div class="col">
				{{widget('profile', 'wf_profile_3', { 'profileType':'phone' })|raw}}
				{{widget('profile', 'wf_profile_4', { 'profileType':'email' })|raw}}
			</div>
		</div>
	</div>
</div>
